modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TweetSmash Server"

[[workflows.workflow]]
name = "TweetSmash Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "TWEETSMASH_API_KEY=xSMEtSdg8Zc58SSxX5wxHzf8 node index.js"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 80
